@font-face {font-family: Inter-Black; src: url('Assets/Fonts/Inter-Black-slnt=0.ttf');} 
@font-face {font-family: Inter-ExtraBold; src: url('Assets/Fonts/Inter-ExtraBold-slnt=0.tff');} 
@font-face {font-family: Inter-Bold; src: url('Assets/Fonts/Inter-Bold-slnt=0.ttf');} 
@font-face {font-family: Inter-SemiBold; src: url('Assets/Fonts/Inter-SemiBold-slnt=0.ttf');} 
@font-face {font-family: Inter-Medium; src: url('Assets/Fonts/Inter-Medium-slnt=0.ttf');} 
@font-face {font-family: Inter-Regular; src: url('Assets/Fonts/Inter-Regular-slnt=0.ttf');} 
@font-face {font-family: Inter-Light; src: url('Assets/Fonts/Inter-Light-slnt=0.ttf');} 
@font-face {font-family: Inter-ExtraLight; src: url('Assets/Fonts/Inter-ExtraLight-slnt=0.ttf');} 
@font-face {font-family: Inter-Thin; src: url('Assets/Fonts/Inter-Thin-slnt=0.ttf');} 
@font-face {font-family: SFMono-Medium; src: url('Assets/Fonts/SFMonoMedium.otf');} 
@font-face {font-family: SFMono-Regular; src: url('Assets/Fonts/SFMonoRegular.otf');} 
@font-face {font-family: Cinzel-Regular; src: url('Assets/Fonts/Cinzel-Regular.ttf');} 

:root {
	--delay: 2s;
}

img {
	max-width: 100%;
  height: auto;
  width: auto\9;
}

body, html {
	height: 100%;
	margin: 0px;
  padding: 0px;
	overflow-x: hidden; 
}

/* Mobile Menu */

#mobile-menu {
	display: none;
	position: fixed;
	z-index: 10;
}

.navbar {
	text-align: center;
}

.btn-dark {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #303030 !important;
	border-color: #303030 !important;
	width: 10vw;
	height: 10vw;
	margin-top: 2vw;
}

.btn-close {
	font-size: 32px;
	margin-top: -0.15vh;
}

body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ 
	display:none; 
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-top: 35vh;
}

.nav-link {
	color: #F0F0F0 !important;
	font-family: Inter-SemiBold;
	font-size: 14px;
}

/* Splash Page */

#splashscreen {
	position:absolute;
  height: 100%;
  width:100%;

  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: #202020;
}

.splash-text {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	animation: typing var(--delay) steps(68, end);

	font-size: 20px;
	color: #F0F0F0;
	font-family: SFMono-Regular;
}

/* Page Containers */

#landing {
	height: 100%;

	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("Assets/Graphics/background.png");
	background-color: #101010;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#about {
	height: 100%;

	display: none;
	background-color: #101010;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#work {
	display: none;
	background-color: #202020;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#history {
	display: none;
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#art {
	display: none;
	background-color: #202020;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#blog {
	display: none;
	background-color: #F5F5F5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#more {
	display: none;
	background-color: #202020;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Landing Page */

#landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#landing-row {
	height: 5.25vh;
}


#landing-name-container {
	display: flex;
  flex-direction: row;
  align-items: center;
}

.landing-line-left {
	flex-grow: 1;

  height: 2px;
  margin-right: 0.75vw;
  margin-top: 0.5vw;
  background-color: #FFFFFF;

  animation-name: landing-line; 
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--delay) * 2 + 0.3s);
  animation-fill-mode: forwards;
}

.landing-name-text {
	flex-grow: 0;

	color: #F0F0F0;
	font-size: calc(24px + 2.15vw);
	font-family: Inter-Bold;

	opacity: 0;
  animation-name: landing-name;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--delay) * 2);
  animation-fill-mode: forwards;
}

.landing-name-underline {
	display: none;

	height: 2px;
	width: 50%;
	margin-left: 25%;
	background-color: #F0F0F0;

	animation-name: landing-underline;
	animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--delay) * 2);
  animation-fill-mode: forwards;
}

.landing-line-right {
	flex-grow: 1;

  height: 2px;
  margin-left: 0.75vw;
  margin-top: 0.5vw;
  background-color: #FFFFFF;

  animation-name: landing-line; 
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--delay) * 2 + 0.3s);
  animation-fill-mode: forwards;
}


.landing-menu {
	display: flex;
	flex-direction: row;

	opacity: 0;
	animation-name: landing-menu-delay;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: calc(var(--delay) * 2 + 1s);
	animation-fill-mode: forwards;
}

a:link {
	text-decoration: none;
}

.landing-menu-item {
	width: 100%;
	padding-top: 1.4vh;

	color: #F0F0F0;
	font-size: 16px;
	font-family: Inter-SemiBold;
}

.landing-menu-item:hover {
	border-bottom: 2px #F0F0F0 solid;
}

.landing-menu-divider {
	padding-left: 0.75vw;
	padding-right: 0.75vw;
	padding-top: 1.4vh;

	color: #F0F0F0;
	font-size: 16px;
	font-family: Inter-SemiBold;
}

/* About Page */

#about-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.about-image-container {
	display: flex;
	justify-content: center;

	margin-top: 3.5vh;
	margin-left: -3vw;

	opacity: 0;
}

.about-image {
	height: 400px;
	width: 400px;
}

#about-text-container {
	width: 100%;
	margin-left: -5vw;
	padding-right: calc((100vw - 900px)/1020 * 288); /* calc((100vw - 900px)/1020 * 288) */
}

.about-head {
	width: 600px;
	color: #F0F0F0;
	font-size: 36px;
	font-family: 'Inter-SemiBold';

	opacity: 0;
}

.about-description {
	width: 600px;
	margin-top: 5%;
	color: #B0B0B0;
	font-size: 16px;
	font-family: 'Inter-Regular';
	text-align: justify;
	text-justify: auto;

	opacity: 0;
}

.about-buttons {
	display: flex;
	flex-direction: row;

	margin-top: 3vh;

	opacity: 0;
}

.about-button-container {
	width: 22px;
	height: 22px;
	margin-right: 20px;
}

.about-button-container:hover {
	filter: opacity(70%);
}

/* Titles on the Remaining Pages */

#title-row-head {
	height: 20vh;
}

.title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin: auto;
	padding-bottom: 30px;
}

.title-line-left {
	flex-grow: 1;

  height: 2px;
  margin-right: 0.75vw;
  margin-top: 0.5vw;
  background-color: #F0F0F0;
}

.title-head-text {
	flex-grow: 0;

	font-size: calc(20px + 1.5vw);
	font-family: Inter-Bold;
	color: #F0F0F0;

	opacity: 0;
}

.title-head-underline {
	display: none;

	height: 2px;
	background-color: #F0F0F0;
}

.title-line-right {
	flex-grow: 1;

  height: 2px;
  margin-left: 0.75vw;
  margin-top: 0.5vw;
  background-color: #F0F0F0;
}

.title-line-left-black {
	flex-grow: 1;

  height: 2px;
  margin-right: 0.75vw;
  margin-top: 0.5vw;
  background-color: #101010;
}

.title-head-text-black {
	flex-grow: 0;

	font-size: calc(20px + 1.5vw);
	font-family: Inter-Bold;
	color: #101010;

	opacity: 0;
}

.title-head-underline-black {
	display: none;

	height: 2px;
	background-color: #101010;
}

.title-line-right-black {
	flex-grow: 1;

  height: 2px;
  margin-left: 0.75vw;
  margin-top: 0.5vw;
  background-color: #101010;
}

/* Work */

#work-row-items {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding-bottom: 50px;
}

.work-row-item-container {
	display: flex;
	flex-direction: row;

	opacity: 0;
}

.work-item-content-outer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	margin-bottom: 40px;
}

.work-item-title {
	height: 4vh;
	font-size: 24px;
	font-family: Inter-SemiBold;
	color: #E0E0E0;
}

.work-item-description {
	position: relative;
	z-index: 1;

	width: 600px;
	font-size: 15px;
	font-family: Inter-Regular;
	color: #C0C0C0;
	padding: 25px;
	margin-top: 20px;

	background-color: #282C33;

	transition-duration: 0.3s;
}

.work-item-description a {
	font-family: Inter-Medium;
	color: #C0C0C0;
}

.work-item-description a:hover {
	color: #A0A0A0;
}

.work-item-description:hover {
	box-shadow: 0px 20px 20px -20px #1A1A1A;
}

.work-item-tags {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	height: 45px;
}

.work-item-tag-container {
	font-size: 14px;
	font-family: SFMono-Regular;
	color: #909090;
	margin-right: 20px;
	margin-bottom: 10px;
}

.work-item-links {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	height: 25px;
}

.work-item-link-container {
	width: 22px;
	height: 22px;
	margin-right: 20px;
}

.work-item-link-container:hover {
	filter: opacity(0.7);
}

.work-item-image-container {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	margin-top: 5vh;
	margin-bottom: 7.5vh;
}

.work-item-image {
	width: 576px;
	height: 324px;
	margin-left: -120px;

	opacity: 0.7;

	transition-duration: 1s;
}

.work-item-image:hover {	
	opacity: 1;
}


.work-item-all {
	display: none;
}

.work-item-background {
	width: 85vw;
	margin-bottom: 10vw;
}

/*  History */

#history-positions {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.history-subtitle {
	margin-top: 30px;
	margin-left: calc(48vw - 460px);
	margin-bottom: 30px;

	font-size: 30px;
	font-family: Inter-SemiBold;
	color: #101010;

	opacity: 0;
}

.history-position-item-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 40px;

	opacity: 0;
}

.history-item-image-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.history-item-image {
	width: 320px;
	height: 240px;

	border-radius: 30px;
}

.history-item-content {
	width: 550px;
	margin-left: 50px;
}

.history-item-title {
	font-size: 26px;
	font-family: Inter-Medium;
	color: #101010;
}

.history-item-subtitle {
	margin-top: 5px;

	font-size: 16px;
	font-family: Inter-SemiBold;
	color: #E56967;
}

.history-item-subtitle a {
	color: #E56967;
}

.history-item-description {
	margin-top: 20px;

	font-size: 14px;
	font-family: Inter-Regular;
	color: #808080;
}

.history-item-description ul {
	margin-left: -20px;
}

.history-item-description a {
	font-family: Inter-Medium;
	color: #757575;
}

.history-item-description a:hover {
	font-family: Inter-Medium;
	color: #858585;
}

#history-awards {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.history-award-item-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 40px;

	opacity: 0;
}

.history-award-item-head {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 320px;
}

.history-award-item-title {
	font-size: 20px;
	font-family: Inter-Medium;
	color: #101010;
	text-align: center;
}

.history-award-item-subtitle {
	padding-top: 3px;

	font-size: 14px;
	font-family: Inter-SemiBold;
	color: #E56967;
	text-align: center;
}

.history-award-item-description {
	width: 550px;
	margin-left: 50px;

	font-size: 14px;
	font-family: Inter-Regular;
	color: #808080;
}

#history-education {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.history-education-items {
	padding-bottom: 50px;
}

.history-education-item-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 40px;

	opacity: 0;
}

/* Art */

#art-items {
	display: flex;
	flex-direction: row;

	padding-bottom: 75px;
}

.art-item-container {
	padding: 0;
}

.art-item-image {
	position: relative;

	height: 16.67vw;

	transition-duration: 0.5s;
}

.art-item-image:hover {
	z-index: 1;

	box-shadow: 6px 6px 20px #101010;
	transform: scale(1.02);
}

/* Blog */

#blog-items {
	margin: 0;
	padding: 0;
}

#blog-recommended {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog-subtitle {
	margin-top: 30px;
	padding-left: calc(48vw - 460px);
	margin-bottom: 30px;

	font-size: 30px;
	font-family: Inter-SemiBold;
	color: #101010;

	opacity: 0;
}

.blog-recommended-items {
	display: flex;
	flex-direction: row;
	align-self: center;

	width: 960px;
}

.blog-recommended-item-container {
	align-self: flex-start;

	margin-right: 55px;
	box-shadow: 0px 0px 3px #E5E5E5;
}

.blog-recommended-item-container:hover {
	box-shadow: 0px 0px 5px #D0D0D0;
}

.blog-item-image-container {

}

.blog-item-image {
	width: 280px;
	height: 140px;
}

.blog-recommended-item-text {
	color: #101010;
	font-family: Cinzel-Regular;
	font-size: 20px;

	padding: 3%;
	padding-left: 5%;
	padding-top: 4%;
	background-color: #FFFFFF;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#blog-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog-items {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;

	width: 960px;
	padding-bottom: 1%;
}

.blog-item-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.blog-item-text {
	color: #101010;
	font-family: Cinzel-Regular;
	font-size: 22px;

	width: 84%;
	padding-left: 10px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.blog-item-text:hover {
	color: #808080;
}

.blog-item-details {
	display: block;
	align-self: center;

	color: #909090;
	font-family: Inter-Light;
	font-size: 13px;
	padding-right: 10px;
}

.blog-divider {
	height: 0.3px;
	background-color: #D0D0D0;
	margin-top: 0.75%;
	margin-bottom: 20px;
}

#blog-story {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-bottom: 4%;
}

#more-container {
	padding: 50px;
}

#more-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.more-text {
	flex: 1;
	margin-left: calc(50vw - 540px);
}

.more-text-head {
	width: 450px;

	color: #F0F0F0;
	font-family: Inter-SemiBold;
	font-size: 28px;
}

.more-text-sub {
	width: 450px;
	margin-top: 10px;

	color: #808080;
	font-family: Inter-Medium;
	font-size: 14px;
}

.more-buttons {
	flex: 1;
	display: flex;
	flex-direction: row;
	margin-left: calc(-40vw + 450px);
}

.more-button-container {
	width: 35px;
	height: 35px;
	margin-right: 40px;
}

.more-icon {
	width: 35px;
	height: 35px;
}

.more-icon:hover {
	filter: opacity(70%);
}

/* Views */

@media only screen and (max-width: 576px) {
	.about-image-container {
		margin-left: 25% !important;
	}
	.work-item-title {
		font-size: calc(16px + 1.2vw) !important;
		padding: 25px !important;
		padding-top: 35px !important;	}
	.work-item-description {
		font-size: calc(12px + 0.5vw) !important;
		width: 100% !important;
		padding: 25px !important;
		padding-bottom: 40px !important;
	}
	.work-item-description:hover {
		box-shadow: none;
	}
	.work-item-tags {
		padding: 25px !important;
		padding-bottom: 15px !important;
	}
	.work-item-tag-container {
		font-size: calc(11px + 0.4vw) !important;
		margin-right: 10px;
	}
	.work-item-links {
		padding: 25px !important;
	}
	.art-item-container > .art-item-image {
		height: 50vw !important;
	}
}

@media only screen and (max-width: 768px) {
	#mobile-menu {
		display: block;
	}
	.offcanvas-header{ 
		display:block; 
	}
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #202020;
    transition: visibility 0s ease-in-out, transform 0s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
  #about {
  	height: 850px;
  	background-size: contain;
  	padding-top: 20px;
  	padding-bottom: 20px;
  }
  .about-image-container {
  }
  .about-image {
  	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 40%;
  }
	.landing-line-left {
		display: none;
	}
	.landing-name-text {
		font-size: 12vw;
	}
	.landing-name-underline {
		display: block;
	}
	.landing-line-right {
		display: none;
	}
	.landing-menu {
		display: none;
	}
	.about-image-container {
		margin-top: 5vh !important;
	}
	#about-text-container {
		padding-left: 11vw !important;
	}
	.about-head {
		font-size: calc(14px + 1vw);
	}
	.about-description {
		font-size: calc(10px + 1vw);
	}
	.about-buttons {
		margin-bottom: 5vh;
	}
	.title-line-left {
		display: none;
	}
	.landing-name-text {
		font-size: 10vw;
	}
	.title-head-underline {
		display: block;
	}
	.title-line-right {
		display: none;
	}
	.title-line-left-black {
		display: none;
	}
	.landing-name-text-black {
		font-size: 10vw;
	}
	.title-head-underline-black {
		display: block;
	}
	.title-line-right-black {
		display: none;
	}
	.work-item-content-outer {
		display: none;
	}
	.work-item-image-container {
		display: none;
	}
	.work-item-all {
		display: block;
	}
	.work-item-title {
		font-size: calc(20px + 1.6vw);
		padding: 40px;
		padding-top: 45px;
		padding-bottom: 5vw;
	}
	.work-item-description {
		font-size: calc(14px + 0.45vw);
		width: 100% !important;
		background-color: transparent;
		padding: 40px;
		padding-bottom: 5vw;
	}
	.work-item-description:hover {
		box-shadow: none;
	}
	.work-item-tags {
		padding: 40px;
		padding-bottom: 0px;
	}
	.work-item-tag-container {
		color: #C0C0C0;
		font-size: calc(12px + 0.56vw);
	}
	.work-item-links {
		padding: 40px;
	}
	.history-subtitle {
		text-align: center;
	}
	.history-position-item-container {
		flex-direction: column;
	}
	.history-item-image-container {
		justify-content: center; !important;
	}
	.history-item-image {
		width: 320px !important;
		height: 240px !important;
	}
	.history-item-content {
		width: 320px !important;
		align-self: center;
		margin-left: 0px !important;
	}
	.history-item-title {
		font-size: 20px;
		margin-top: 20px;
	}
	.history-item-subtitle {
		font-size: 14px;
	}
	.history-award-item-container {
		flex-direction: column;
	}
	.history-award-item-head {
		width: 100vw !important;
	}
	.history-award-item-description {
		width: 320px !important;
		margin-top: 20px;
		align-self: center;
		margin-left: 0px !important;
	}
	.history-education-item-container {
		flex-direction: column;
	}
	.art-item-image {
		height: 33.33vw !important;
	}
	.blog-subtitle {
		margin-left: 0px;
		align-self: center;
	}
	.blog-recommended-items {
		flex-direction: column;
	}
	.blog-recommended-item-container {
		margin-bottom: 20px;
		margin-right: 30px !important;
		align-self: center;
	}
	.blog-item-image {
		width: 350px !important;
		height: 175px !important;
	}
	.blog-recommended-item-text {
		font-size: 20px !important;
	}
	.blog-item-text {
		font-size: 20px;
	}
	.blog-item-details {
		width: 170px !important;
		text-align: right;
		font-size: 11px !important;
	}
	#more-content {
		flex-direction: column;
	}
	.more-text {
		margin-left: 0px !important;
		text-align: center;
	}
	.more-text-head {
		width: 80vw !important;
		margin-bottom: 30px;
	}
	.more-text-sub {
		width: 80vw !important;
		margin-bottom: 60px;
	}
	.more-buttons {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 992px) {
	.about-image-container {
		margin-top: 1vh;
		margin-bottom: 2vh;
		margin-left: 35%;
		width: 200px;
	}
	.about-image {
		width: 200px !important;
		height: 200px !important;
	}
	#about-text-container {
		padding-left: 80px;
	}
	.about-head {
		width: 100% !important;
	}
	.about-description {
		width: 100% !important;
		margin-top: 2%;
	}
	.history-subtitle {
		margin-left: 20px;
	}
	.history-item-content {
		width: 55.44vw;
	}
	.history-award-item-description {
		width: 55.44vw;
	}
	.art-item-image {
		height: 25vw;
	}
	.blog-subtitle {
		padding-left: 20px;
	}
	.blog-recommended-items {
		width: 96vw;
	}
	.blog-recommended-item-container {
		margin-right: calc(4.6vw - 10px);
	}
	.blog-item-image {
		width: 28.22vw;
		height: 140px;
	}
	.blog-recommended-item-text {
		font-size: 2vw;
	}
	.blog-items {
		width: 96vw;
	}
	.blog-item-details {
		width: 150px;
	}
}

@media only screen and (max-width: 1200px) {
	.about-image {
		width: 34vw;
		height: 34vw;
		padding-right: 1vw;
	}
	#about-text-container {
		padding-right: 2vw;
	}
	.about-head {
		width: 50vw;
		font-size: calc(18px + 1.5vw);
	}
	.about-description {
		width: 50vw;
		font-size: calc(14px + 0.7w);
	}
	.work-item-description {
		width: 50vw;
	}
	.work-item-image {
		width: 48vw;
		height: 27vw;
	}
	.history-item-image {
		width: 26.67vw;
		height: 20vw;
	}
	.history-award-item-head {
		width: 26.67vw;
	}
	.blog-recommended-items {
		padding-left: 30px;
	}
	.blog-recommended-item-container {
		margin-right: calc(4.6vw - 10px);
	}
	.blog-items {
		padding-left: 20px;
		padding-right: 20px;
	}
	.blog-item-details {
		font-size: calc(9px + 0.3vw);
	}
	.more-text {
		margin-left: 60px;
	}
	.more-text-head {
		width: 37.5vw;
	}
	.more-text-sub {
		width: 37.5vw;
	}
}

/* Animations */

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes landing-line {
	from {
		width: 0;
	}
	to {
		width: 4vw;
	}
}

@keyframes landing-name {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes landing-underline {
	from {
		margin-left: 50%;
		width: 0;
	}
	to {
		margin-left: 25%;
		width: 50%;
	}
}

@keyframes landing-menu-delay {
	from {
		opacity: 0;
		transform: translateY(40%);
	}
	to {
		opacity: 1;
	}
}

@keyframes about {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
	}
}

@keyframes title-line {
	from {
		width: 0;
	}
	to {
		width: 4vw;
	}
}

@keyframes title-head {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes title-underline {
	from {
		margin-left: 50%;
		width: 0;
	}
	to {
		margin-left: 25%;
		width: 50%;
	}
}

@keyframes work {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
	}
}

@keyframes history {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
	}
}

@keyframes art {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
	}
}

@keyframes blog {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
	}
}